body, header, nav, main, footer, img, h1, ul {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    background-color: #12232E;
    color: #EEFBFB;
}
h1 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: #203647;
    font-size: larger;
}
body {
    text-align: left;
}
main {
    width: 512x;
    height: 200px;
    padding-bottom: 3%;
}
nav {
    padding: 4%;
    background-color: #203647; 
    width: auto;    
}
nav ul {
    list-style-type: none;
    text-align: center;
    justify-content: space-between;
}
nav li {
    font-size: 150%;
    display: inline-block;
    width: auto;
}
nav li a {
    color:gray;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
input:invalid {
    border: 2px solid red;
}
input:valid {
    border: 2px solid black;
}
#imgspace {
    padding: 5%;
}
table {
    table-layout: fixed;
    width:75%;
}
th {
    width: 25%;
}
table, th, td{
    border: 1px solid white;
}
footer {
    height: auto;
}
/* Media Query for Desktop Viewport */
@media only screen and (min-width: 780px), print{
    body, header, nav, main, footer, img, h1, ul {
        margin: 0;
        padding: 0;
        border: 0;
    }
    html {
        background-color: #12232E;
        color: #EEFBFB;
    }
    h1 {
        text-align: center;
        padding-top: 2%;
        padding-bottom: 5%;
        background-color: #203647;
    }
    body {
        text-align: left;
    }
    main {
        width: 512x;
        height: 200px;
        padding-bottom: 3%;
        height: fit-content;
    }
    nav {
        padding: 4%;
        background-color: #203647; 
        
    }
    nav ul {
        list-style-type: none;
        text-align: center;
        justify-content: space-between;
       
    }
    nav li {
        font-size:100%;
        display: inline-block;
    }
    nav li a {
        color:gray;
    }
    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    #imgspace {
        padding: 5%;
    }
    table {
        table-layout: fixed;
        width:75%;
    }
    th {
        width: 25%;
    }
    table, th, td{
        border: 1px solid white;
    }
}
